<a href="https://colab.research.google.com/github/mike1502/python_thc_2025/blob/main/clase1_thc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Este es el primer programa de Python del curso de THC. ***
\begin{equation}
x=y
\end{equation}

In [ ]:
x=15  # variable de tipo entero
y='Miguel'   #variable de tipo cadena (string)
print(x,y)  # el comando print muestra en pantalla el resultado de mi variable u operaciones

z="Hola mundo"
print(z)

xy="Est es el primer programa en Python"
print(xy)

15 Miguel
Hola mundo
Est es el primer programa en Python

In [ ]:
a=6
b=5.5 # variable tipo flotante
suma=a+b # aqui hago la suma de los valores a y b
print(suma)

11.5

In [ ]:
#Casteo
x1=int(3) # especificamos que x1 es un entero
y1=float(6) # especificamos que y1 es flotante (n√∫mero con decimales)
z1=str(6) # transformamos el 6 a cadena
print(type(x1))
print(type(y1))
print(type(z1))
print(z1)

<class 'int'>
<class 'float'>
<class 'str'>
6

In [ ]:
nombre1="Miguel Carrillo"
nombre2='Miguel Carrillo'
print(nombre1)
print(nombre2)

Miguel Carrillo
Miguel Carrillo

In [ ]:
b=55
B="Mi nombre"
print(b,B)

55 Mi nombre

In [1]:
print(17 // 5)
print(17 % 5)

3
2